<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840881813339-0tg30hq5mf0fti4c29otf1tlv00el9n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840881813339-0tg30hq5mf0fti4c29otf1tlv00el9n9</string>
	<key>API_KEY</key>
	<string>AIzaSyAjz7V0nD2CbuYWv_OZsLrUXfn1CF9y_-c</string>
	<key>GCM_SENDER_ID</key>
	<string>840881813339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanket.catalogeapp</string>
	<key>PROJECT_ID</key>
	<string>see-it-82c78</string>
	<key>STORAGE_BUCKET</key>
	<string>see-it-82c78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840881813339:ios:184cf80ed8046e80eb8c7e</string>
</dict>
</plist>